

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}

body 
{
    background-color: #ffffff;
}

#title-bar 
{
    height: 10%;
    background-color: #ff0000;
    opacity: 1;
    outline-color: #ffffff;
    box-shadow: none;
    display: flex;
}

#title 
{
    color: #000000;
    font-size: 180%;
    font-weight: 600;
    display: inline-block;   
    margin-top: 8%;
    padding-left: 50%;
}

#heading1 
{
    font-size: 150%;
}

#welcome-text 
{
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

footer
{
    position: relative;
}












